---
import PageLink from '@components/ui/PageLink.astro';
import { ChevronRight, CircleSmall, FileText, SquareArrowOutUpRight } from '@lucide/astro';
import { formatDatetime } from '@scripts/formatDatetime';
import { getComponents } from '@scripts/getComponents';
import type { AnyEntryMap } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

export interface Props {
  id: keyof AnyEntryMap['pages'];
  inline?: 'also' | 'only';
}

const props = Astro.props;
const entry = await getEntry('pages', props.id);

if (!entry) {
  throw new Error(`Entry with id "${props.id}" not found in collection "pages"`);
}

const { Content } = await render(entry);
const components = getComponents();

const inline = entry.body && (props.inline ?? entry.data?.inline);
const inlineAlso = inline === 'also';

const DetailsElement = inline ? 'details' : 'div';
const SummaryElement = inline ? 'summary' : 'header';
const Icon = inline ? ChevronRight : !inline && entry.body ? FileText : CircleSmall;

const href = `/${entry.id === 'index' ? '' : entry.id}`;
---

<article class="relative my-[1.25em]">
  <DetailsElement class="rounded-default flex flex-col">
    <SummaryElement
      class:list={[
        'rounded-default touch-hitbox not-prose flex gap-[0.5em] pl-[0.5em]',
        inline && 'cursor-pointer',
      ]}
    >
      <Icon
        class="text-accent mt-[0.375em] shrink-0"
        size="1em"
      />

      <div class="grow">
        <div class="text-foreground truncate font-semibold">{entry.data.title}</div>
        {entry.data?.description && <div class="text-foreground-subtler line-clamp-3">{entry.data.description}</div>}
        {entry.data?.date && <time class="tabular-nums">{formatDatetime(entry.data.date)}</time>}
      </div>
    </SummaryElement>
    {
      inline && (
        <div class="is-inline flex items-start gap-[0.5em] pl-[0.5em]">
          {inlineAlso && (
            <a
              class="touch-hitbox text-accent sticky top-[1.5em] my-[1.25em] block py-[0.375em] print:hidden"
              href={href}
              title={`Open "${entry.data.title}" in a new tab`}
              aria-label={`Open "${entry.data.title}" in a new tab`}
              target="_blank"
            >
              <SquareArrowOutUpRight size="1em" />
            </a>
          )}

          <span class:list={['w-[1em]', inlineAlso && 'hidden print:block']} />

          <div class="rounded-default w-full">
            <Content {components} />
          </div>
        </div>
      )
    }
  </DetailsElement>

  {!inline && entry.body && <PageLink {entry} />}

  <script>
    const details = document.querySelectorAll('details');

    details.forEach((detail) => {
      detail.addEventListener('toggle', () => {
        const chevron = detail.querySelector('.lucide-chevron-right')!;

        if (detail.open) {
          chevron.classList.add('rotate-90');
        } else {
          chevron.classList.remove('rotate-90');
        }
      });
    });

    window.addEventListener('beforeprint', () => {
      details.forEach((detail) => detail.setAttribute('open', ''));
    });

    window.addEventListener('afterprint', () => {
      details.forEach((detail) => detail.removeAttribute('open'));
    });
  </script>
</article>
