---
import { getCollection, render } from 'astro:content';
import { getComponents } from '@scripts/getComponents';
import PageLayout from '@layouts/PageLayout.astro';
import { formatDatetime } from '@scripts/formatDatetime';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const staticPaths = [];

  let collection = await getCollection('pages');

  if (import.meta.env.PROD) {
    collection = collection.filter((entry) => !entry.data?.draft);
  }

  for (const entry of collection) {
    staticPaths.push({
      params: { page: entry.id === 'index' ? undefined : entry.id },
      props: { entry },
    });
  }

  return staticPaths;
}

const { entry } = Astro.props;

const { Content } = await render(entry);

const components = getComponents();
---

<PageLayout metadata={entry.data}>
  <main class="prosa text-default my-[6em] w-full">
    <header class="has-[p,time,img]:mb-[3em]">
      {
        entry.data.image && (
          <Image
            class="mb-[1.5em]"
            src={entry.data.image}
            alt=""
            width={864}
            height={486}
            format="avif"
          />
        )
      }
      <h1>{entry.data.title}</h1>
      {entry.data.description && <p>{entry.data.description}</p>}
      {entry.data.date && <time class="tabular-nums">{formatDatetime(entry.data.date)}</time>}
    </header>

    <Content {components} />
  </main>
</PageLayout>

<script>
  import { toggleDetails } from '@scripts/toggleDetails';
  import { externalizeLinks } from '@scripts/externalizeLinks';

  toggleDetails();
  externalizeLinks();
</script>
